@keyframes pageIntro{

    from{opacity: 0}
    to{opacity: 1}

}
*{
    margin:0;
    padding:0;
}

body{
    animation-name: pageIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

header{
    height: 10%;
    width: 100%;

}
.header_content, .footer_content{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    color: #424242;
}

.language_select{
    text-align: right;
}
.logo{
    text-align: center;
}
.menu{
    text-align: left;
}

.menu img{

    display: block;
    margin: 1.5% 2%;
    height: 70%;
    transition: 3s;
}

.menu_content{
    color: #424242;
    display: block;
    width: 30%;
    background-color: whitesmoke;
    font-family: "Ubuntu";
}
.menu_content>li{
    padding: 20px 10px;
    letter-spacing: 1.2px;
    border-bottom: #424242 solid 1px;
}
.menu_content>li:last-child{
    border-bottom: none;
}
.menu_content>li:hover{
    background-color: grey;
    color: white;
}

.menu img:hover{
    transform: rotate(720deg);
}

.logo h3{
    font-family: "Righteous";
    margin-top: 2%;
}

.language_select button{

    margin: 1.5% auto;
    padding: 10px 25px;
    background-color: whitesmoke;
    border: solid 1px #424242;
    font-family: "Ubuntu";
    border-radius: 10px;
}

.language_select button:last-child{
    margin-right: 20px;
}

.language_select button:hover{
    background-color: red;
    color: whitesmoke;
    opacity: 0.6;
    border: none;
}

.footer_content{
    height: 7.5%;
    padding: 0.5%;
    color: #424242;
    text-align: center;
    font-family: "Noto Sans";
}

.footer_content h4>span{
    color: forestgreen;
    font-family: "Righteous";
}

.pageContent{
    background: repeating-linear-gradient(
            55deg,
            yellow,
            yellow 10%,
            black 10%,
            black 20%);
    padding: 1% 0;
}

.center_box{
    background-color: whitesmoke;
    box-sizing: content-box;
    color: darkslategrey;
}
h1{
    color: #424242;
    font-family: "Comfortaa";
    font-size: 2.2em;
    display: block;
    text-align: center;
    padding: 3% 0;
    font-weight: 100;
}
.main_img{
    display: block;
    margin: 2% auto;
    width: 25%;
    border-bottom: solid #424242 3px;
    padding: 0 5%;
}
.button{
    font-size: 1.3em;
    letter-spacing: 0.35em;
    background-color: #edeaea;
    color: #424242;
    border-bottom: solid #424242 2px;
    padding: 1% 2%;
    margin: 4% 4%;
    font-family: "Comfortaa";
    border-radius: 10px;
}
.button:hover{
    opacity: 0.7;

}
.button:nth-child(1):hover{
    background-color: yellow;
    border-bottom-color: yellow;
    color: black;
}
.button:nth-child(2):hover{
    background-color: red;
    border-bottom-color: red;
    color: white;
}
.button:nth-child(3):hover{
    background-color: blue;
    border-bottom-color: blue;
    color: white;
}
.margin_center{
    margin-top: 2%;
    display: block;
    width: 100%;
    text-align: center;
}

/** login page styles **/

.col_content{
    display: block;
    text-align: center;
}

.col_content:first-child img{
    display: block;
    margin: 20% auto;
    padding: 5% 10%;
    border-bottom: solid 3px #424242;
    transition: 2s;
}

.col_content:first-child img:hover{
    transform: rotateY(540deg);
}

.col_content .login_form{
    display: block;
    box-sizing: content-box;
    margin: 15% auto;
    padding: 5%;
    background-color: #eaeaea;
    border-radius: 15px;
    opacity: 0.6;
}

.login_form:hover{
    opacity: 1;
}

.login_form img{
    display: block;
    margin: auto;
    margin-bottom: 20%
}
.login_form label{
    background-color: white;
    width: 35%;
}

.login_form input{
    width: 55%;
    background-color: snow;
    border: none;
}

.login_form input , .login_form label{
    margin: 2.5% 0;
    padding: 10px;
    font-family: "Ubuntu";
    color: #424242;

}
.login_form button{
    display: block;
    width: 90%;
    margin: 5%;
    background-color: forestgreen;
    color: white;
    font-family: "Ubuntu";
    padding: 10px;
    border-radius: 5px;
    border: none;

}
.login_form button:last-child{
    background-color: red;
}

.login_form button:hover{
    opacity: 0.7;
}