@keyframes pageIntro{

    from{opacity: 0}
    to{opacity: 1}

}

@keyframes pageIntro{

    from{opacity: 0}
    to{opacity: 1}
}

body{

    animation-name: pageIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

header{
    display: block;
    min-height: 5vh;
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
    box-sizing: content-box;
}

.header_content{
    padding: 1% 0;
}

.menu, .logo, .language_select{
    display: inline-block;

}

.menu img{
    display: table-cell;
    vertical-align: middle;

}

.menu img{
    height: 5%;
    transition: transform 2s;
}

.menu img:hover{
    transform: rotate(720deg);
}

.menu ul{
    position: absolute;
    z-index: 100;
    display: block;
    padding: 10px 0;
    left: 0;

}

.menu li{

    display: block;
    background-color: whitesmoke;
    padding: 10px 20px;
    font-family: "Ubuntu";
}

.menu li:hover{
    color: whitesmoke;
    background-color: #424242;
}

.logo h3{

    font-family: "Righteous";
}

.language_select{

    text-align: right;
}

.language_select button{

    padding: 10px 20px;
    font-family: "Ubuntu";
}

.language_select button:hover{

    background-color: red;
    color: white;
    opacity: 0.6;
}

.pageContent{

    min-height: 85vh;
    background: repeating-linear-gradient(
            55deg,
            yellow,
            yellow 10%,
            black 10%,
            black 20%);
    padding: 1% 0;
}
.center_box{

    min-height: 85vh;
    background-color: whitesmoke;
    text-align: center;
    font-family: "Comfortaa";
    font-weight: lighter;
}

.main_img{

    display: block;
    margin: auto;
    height: 35%;
    border-bottom: solid 2px #424242;
    padding: 0 50px;
}

.center_box h1{

    width: 100%;
    display: block;
    margin: 2% auto;
    max-height: 100px;
}

.margin_center{

    clear: both;
    display: block;
    width: 60%;
    margin: 2% 20%;
    text-align: center;
}

.margin_center button{
    display: inline-block;
    margin: 3% 4.5%;
    padding: 20px 40px;

}

.margin_center button:first-child:hover{
    background-color: yellow;
    color: white;
    opacity: 0.7;
}
.margin_center button:nth-child(2):hover{
    background-color: red;
    color: white;
    opacity: 0.7;
}
.margin_center button:nth-child(3):hover{
    background-color: blue;
    color: white;
    opacity: 0.7;
}

.footer_content{
    background-color: whitesmoke;
    padding: 2% 0;
    min-height: 5vh;
    text-align: center;
    color: #424242;
    font-size: 1.8em;
}

.footer_content span{
    color: forestgreen;
    font-family: "Passion One";
}

/*** Styles for templates ***/

.login_form{

    display: block;
    margin: 50px auto;
    height: fit-content;
    text-align: center;
}

.login_form input{

    display: block;
    margin: 10px auto;
    width: 50%;
    padding: 1% 5%;
    background-color: #eaeaea;
    line-height: 2em;
    border-radius: 10px;

}

.login_form img{
    display: block;
    margin: 1% auto;
}

.login_form button{
    padding: 1%;
    background-color: green;
    width: 25%;
    color: white;
    font-family: "Ubuntu";
    border: none;
    border-radius: 10px;
}
.login_form button:last-child{
    background-color: red;
}

.login_form button:hover{
    opacity: 0.75;
}

.comp_img{

    height: 45%;
    padding: 5%;
}

#servicePanel{

    font-family: "Ubuntu";
    padding: 15px 0;
    text-align: center;

}

#servicePanel h2{
    margin: 10px auto 20px auto;
    font-weight: bolder;
}
#servicePanelManagment{
    background-color: #424242;
    color: whitesmoke;
    border-radius: 15px;
}

#servicePanelManagment ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

#servicePanelManagment li{
    padding: 5px 15px;
    font-size: 1.1em;
    border-top: solid 1px whitesmoke;

}

#servicePanelManagment li:last-child{
    border-bottom: solid 1px whitesmoke;
}

#servicePanelManagment li:hover{
    color: #424242;
    background-color: whitesmoke;
}
#orderList{
    padding-left: 15px;
}

#orderList div{
    border: solid 4px #424242;
    background-color: whitesmoke;

}

#orderList h3{
    background-color: #424242;
    color: whitesmoke;
    width: 100%;
    padding: 10px;
    margin-bottom: 0 ;
}
#orderList div,
#orderDetails div{
    color: #424242;
    min-height: 750px;
    border-radius: 15px;
}

#orderDetails{
    background-color: white;
    padding-left: 15px;


}

#orderDetails > div:first-child{
    border: solid 4px #424242;


}

#orderDetails h3{
    background-color: #424242;
    padding: 10px 20px 20px 20px;
    color: whitesmoke;
    width: 100%;
}

#orderList div ul{
    padding: 0;
    margin: 0;
    text-align: left;
}

#orderList li {
    display: inline-block;
    width: 100%;
    padding: 20px 10px;
    font-family: Comfortaa;
    font-weight: bolder;
    color: #424242;
    border-bottom: solid 2px #424242;

}

#orderList li:hover{
    background-color: lightgreen;
    color: #424242;
}



